In [2]:
import pandas as pd

In [3]:
df1=pd.read_csv("Dietary.csv")

In [4]:
df1

,Aadhaar,Date,Grains,Pulses,otherFruits,leafy_Vegetables,other_veg,Milk,Animal,Vitamin_A,Nuts,Eggs,junk
0,1234567100,2021-07-01,1,1,0,0,0,0,0,0,0,0,1
1,1234567100,2021-07-02,1,1,0,0,0,0,0,0,0,0,1
2,1234567100,2021-07-03,1,1,0,0,0,1,0,0,0,0,1
3,1234567100,2021-07-04,1,1,0,0,0,0,0,0,0,0,1
4,1234567100,2021-07-05,1,1,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11220,990095966133,2021-10-03,1,1,0,0,0,0,0,0,0,0,1
11221,990095966133,2021-10-04,1,0,0,0,0,0,0,0,0,1,0
11222,990095966133,2021-10-05,1,1,0,0,0,0,0,0,0,0,1
11223,990095966133,2021-10-06,1,1,0,0,0,0,0,0,0,0,1
11224,990095966133,2021-10-07,1,0,0,0,0,0,0,0,0,0,1

In [5]:
df2=pd.read_csv("Biochemical.csv")
df2=df2.replace('1-2022','8-2022')
df2=df2.replace('2-2022','9-2022')

In [6]:
df2_1=df2[df2.Month=='8-2022']
df2_2=df2[df2.Month=='9-2022']

In [7]:
df2_1

          Aadhaar   Month  Haemoglobin
0      1234567100  8-2022         11.1
2      1234567101  8-2022          9.0
4      1234567102  8-2022          9.5
6      1234567103  8-2022         10.3
8      1234567104  8-2022          9.0
..            ...     ...          ...
792  923345668286  8-2022         10.0
794  925648752750  8-2022          9.5
796  940201987740  8-2022          7.5
798  987419958816  8-2022          9.5
800  990095966133  8-2022         11.0

[401 rows x 3 columns]

In [8]:
df2

          Aadhaar   Month  Haemoglobin
0      1234567100  8-2022         11.1
1      1234567100  9-2022         11.2
2      1234567101  8-2022          9.0
3      1234567101  9-2022          9.0
4      1234567102  8-2022          9.5
..            ...     ...          ...
797  940201987740  9-2022          7.5
798  987419958816  8-2022          9.5
799  987419958816  9-2022          9.5
800  990095966133  8-2022         11.0
801  990095966133  9-2022         11.0

[802 rows x 3 columns]

In [9]:
df3=pd.read_csv("Clinical.csv")
df3=df3.replace('1-2022','8-2022')
df3=df3.replace('2-2022','9-2022')

In [10]:
df3_1=df3[df3.Month=='8-2022']
df3_2=df3[df3.Month=='9-2022']

In [11]:
df3_1

,Aadhaar,Month,NeckPatches,PaleSkin,Pellagra,WrinkledSkin,TeethDiscolouration,BleedingGums,Cavity,WeakGums,...,SplitEnds,Discolouration,DarkLines,SpoonShapedNails,BrokenNails,PaleNails,lean,bony,goitre,obesity
0,1234567100,8-2022,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1234567101,8-2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1234567102,8-2022,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,1234567103,8-2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,1234567104,8-2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,923345668286,8-2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
794,925648752750,8-2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,940201987740,8-2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
798,987419958816,8-2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
800,990095966133,8-2022,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
df3.columns

Index(['Aadhaar', 'Month', 'NeckPatches', 'PaleSkin', 'Pellagra',
       'WrinkledSkin', 'TeethDiscolouration', 'BleedingGums', 'Cavity',
       'WeakGums', 'AngularCuts', 'InflammedTongue', 'LipCuts', 'MouthUlcer',
       'BitotSpot', 'Xeropthalmia', 'RedEyes', 'Catract', 'HairFall',
       'DamagedHair', 'SplitEnds', 'Discolouration', 'DarkLines',
       'SpoonShapedNails', 'BrokenNails', 'PaleNails', 'lean', 'bony',
       'goitre', 'obesity'],
      dtype='object')

In [13]:
df4=pd.read_csv("Anthropometric.csv")

In [14]:
df4=df4.replace('1-2022','8-2022')
df4=df4.replace('2-2022','9-2022')

In [15]:
df4_1=df4[df4.Month=='8-2022']
df4_2=df4[df4.Month=='9-2022']

In [36]:
df4

,Aadhaar,Month,Gender,Age,Height,Weight,BodyFat,MidArm,BMI,BMR
0,1234567100,8-2022,Gender.Male,27,154,49,24,0,21,1323
1,1234567100,9-2022,Gender.Male,27,154,49,24,0,21,1323
2,1234567101,8-2022,Gender.Female,27,151,45,29,0,20,1098
3,1234567101,9-2022,Gender.Female,27,151,47,30,0,21,1118
4,1234567102,8-2022,Gender.Male,50,160,70,32,0,27,1455
...,...,...,...,...,...,...,...,...,...,...
797,940201987740,9-2022,Gender.Male,19,154,65,24,0,27,1357
798,987419958816,8-2022,Gender.Female,57,156,69,25,0,28,1219
799,987419958816,9-2022,Gender.Female,57,156,69,25,0,28,1219
800,990095966133,8-2022,Gender.Male,15,145,40,17,0,19,1070
801,990095966133,9-2022,Gender.Male,15,145,40,17,0,19,1070

In [17]:
test=df3_1[df3_1["Aadhaar"]==1234567100]

In [18]:
test

,Aadhaar,Month,NeckPatches,PaleSkin,Pellagra,WrinkledSkin,TeethDiscolouration,BleedingGums,Cavity,WeakGums,...,SplitEnds,Discolouration,DarkLines,SpoonShapedNails,BrokenNails,PaleNails,lean,bony,goitre,obesity
0,1234567100,8-2022,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
df3_1["Aadhaar"].values[:10]
#Convert array to list
list1=df3_1["Aadhaar"].values.tolist()
list1[:10]

[1234567100,
 1234567101,
 1234567102,
 1234567103,
 1234567104,
 1234567105,
 1234567106,
 1234567107,
 1234567108,
 1234567109]

In [20]:
test.columns

Index(['Aadhaar', 'Month', 'NeckPatches', 'PaleSkin', 'Pellagra',
       'WrinkledSkin', 'TeethDiscolouration', 'BleedingGums', 'Cavity',
       'WeakGums', 'AngularCuts', 'InflammedTongue', 'LipCuts', 'MouthUlcer',
       'BitotSpot', 'Xeropthalmia', 'RedEyes', 'Catract', 'HairFall',
       'DamagedHair', 'SplitEnds', 'Discolouration', 'DarkLines',
       'SpoonShapedNails', 'BrokenNails', 'PaleNails', 'lean', 'bony',
       'goitre', 'obesity'],
      dtype='object')

In [21]:
test=test.drop(columns=test.columns[(test == 0).any()])

In [22]:
test

      Aadhaar   Month  NeckPatches  PaleSkin
0  1234567100  8-2022            1         1

In [23]:
value=test.Aadhaar.values

In [24]:
value[0]

1234567100

In [25]:
df5=pd.read_csv('Nutrients_New.csv')

In [26]:
df5

    Nutrients                                             Source          DSym
0   Vitamin-A  Milk | Egg | Liver | Cereals | Green Vegetable...  Xeropthalmia
1   Vitamin-A  Milk | Egg | Liver | Cereals | Green Vegetable...     BitotSpot
2   Vitamin-A  Milk | Egg | Liver | Cereals | Green Vegetable...       RedEyes
3   Vitamin-A  Milk | Egg | Liver | Cereals | Green Vegetable...       Catract
4   Vitamin-B  Meat | seafood | poultry | eggs | dairy produc...   NeckPatches
..        ...                                                ...           ...
73       Zinc  Oyesters | shellfish | meat and poultry | legu...    DamagdHair
74       Zinc  Oyesters | shellfish | meat and poultry | legu...      HairFall
75       Zinc  Oyesters | shellfish | meat and poultry | legu...     SplitEnds
76       Zinc  Oyesters | shellfish | meat and poultry | legu...          lean
77       Zinc  Oyesters | shellfish | meat and poultry | legu...          bony

[78 rows x 3 columns]

In [27]:
value1=test.columns.values

In [28]:
value1

array(['Aadhaar', 'Month', 'NeckPatches', 'PaleSkin'], dtype=object)

In [29]:
import numpy as np

In [30]:
value1[2]
for i in range(len(value1)):
    print(value1[i])

Aadhaar
Month
NeckPatches
PaleSkin

In [31]:
for i in range(2,len(value1)):
    #new=df5["DSym"].isin([value1])
    new=df5.loc[df5["DSym"]==value1[i]]
    #print("possibilities")
    print("deficiencies related to symptom",value1[i],"are",new.Nutrients.values)#,new.Source.values)
    #types=new[["Nutrients","Source"]]
    #print("possibilities")
    #print(types.Nutrients.values,types.Source.values)

deficiencies related to symptom NeckPatches are ['Vitamin-B' 'Vitamin-E']
deficiencies related to symptom PaleSkin are ['Vitamin-B' 'Vitamin-E' 'Panthothenate']

In [32]:
new

        Nutrients                                             Source      DSym
5       Vitamin-B  Meat | seafood | poultry | eggs | dairy produc...  PaleSkin
30      Vitamin-E  Liver | eggs | nuts | seeds | cold-pressed veg...  PaleSkin
69  Panthothenate  Meat | vegetables | whole grains | legumes | l...  PaleSkin

In [33]:
for i in range(2,len(value1)):
    new=df5.loc[df5["DSym"]==value1[i]]
    if i==2:
        temp=new.Nutrients.values
    else:
        temp=np.intersect1d(temp,new.Nutrients.values)
    print("deficiencies related to symptom",value1[i],"are",new.Nutrients.values)#,new.Source.values)
print("Common deficiencies for all the given symptoms",temp)
for i in range(len(temp)):
    source=df5.loc[df5["Nutrients"]==temp[i]]
    source=source[["Nutrients","Source"]]
    source=source.drop_duplicates()
    print("")
    print("Recommended food to cut off",source.Nutrients.values,"deficiency are",source.Source.values)
    print("")

deficiencies related to symptom NeckPatches are ['Vitamin-B' 'Vitamin-E']
deficiencies related to symptom PaleSkin are ['Vitamin-B' 'Vitamin-E' 'Panthothenate']
Common deficiencies for all the given symptoms ['Vitamin-B' 'Vitamin-E']

Recommended food to cut off ['Vitamin-B'] deficiency are ['Meat | seafood | poultry | eggs | dairy products | legumes | leafy greens | seeds and fortified foods | such as breakfast cereal and nutritional yeast']


Recommended food to cut off ['Vitamin-E'] deficiency are ['Liver | eggs | nuts | seeds | cold-pressed vegetable oils | dark leafy greens | sweet potatoes | avocades and asparagus']